<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
     <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Helvetica">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

 <style>
        .title-font {
        font-family: 'Helvetica', sans-serif;
        font-size: 48px;
      }

      body {
        background: linear-gradient(to right,#d4cfe8,#a593ed);
      }

      h1 {
        text-align: center;
      }

       .buttons {
            text-align: center;
        }

    </style>
  </head>


    <body>
    <h1>Welcome to your Dashboard!</h1>

<div class="buttons">
<form method="get" action="/newtrip">
<button type="submit" value="Submit">New Trip!</button>
</form>
</div>
<br>
<div class="buttons">
<form method="get" action="/yourtrips">
<button type="submit" value="Submit">Your Trips!</button>
</form>
</div>

  </body>
</html>