<!DOCTYPE html>

<html lang="en">
<head>
<title>GetPacked!</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right,#f7c981,#ed7210,#d4970e);
}

/* Style the header */
header {
  background-color: linear-gradient(to right,#f7c981,#ed7210,#d4970e);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ffc375;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: circle;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>
</head>
<body>

<header>
  <h2>Schedule</h2>
</header>

<section>
  <nav>
  <h3>Restaurants</h3>

     <form action="/entertainment" method="post">
       #foreach( $restaurants in $restaurants )
       <input type="checkbox" name="restaurant_name" value=$restaurants.restaurant_name>
       <label for="restaurant_name"> $restaurants.restaurant_name</label><br>
        <p> $restaurants.restaurant_descr,
        $restaurants.restaurant_star_rating Stars,
        Destination: $restaurants.destination,
        $restaurants.cuisine_tags,
       </p>
       #end
       <h3>Activities</h3>
        #foreach( $activities in $activities )
        <input type="checkbox" name="activity_name" value=$activities.activity_name>
        <label for="activity_name"> $activities.activity_name</label><br>
        <p> $activities.activity_descr,
         Destination: $activities.destination,
         $activities.activity_tags,
         </p>
         #end
       <input type="submit" value="Submit">
     </form>






  </nav>


</section>


</body>

</html>