<!DOCTYPE html>

<html lang="en">
<head>
<title>GetPacked!</title>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

<div class="topnav">
<a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
<a href="/dashboard"><i class="fa fa-fw fa-user"></i>Dashboard</a>
<a href="#contact"><i class="fa fa-fw fa-envelope"></i>Contact</a>
<a href="#about">About</a>
</div>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

    .topnav {
        overflow: hidden;

      }

      .topnav a {
        float: left;
        color: #7ba0db;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #dce7fa;
        color: white;
      }

      .topnav a.active {
        background-color: #7ba0db;
        color: white;
      }

    * {
      box-sizing: border-box;
    }

    body {
       background-color: #b9d0ed;
           text-align: center;
                  font-family: 'Baloo Bhaina 2', cursive;
                  align-items: center:
                  align: center;
    }

    /* Style the header */
    header {
      background-color: #b9d0ed;
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color: white;
    }


    /* Style the list inside the menu */
    nav ul {
      list-style-type: circle;
      padding: 0;
    }

    /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
    @media (max-width: 600px) {
      section {
        -webkit-flex-direction: column;
        flex-direction: column;
      }
    }

    .btn:hover {
          background-color: #71b7e3;
        }


</style>
</head>


<body>
<header>
  <h2>Things to do near my hotel</h2>
</header>

<section>
  <nav>
  <h3>Restaurants</h3>

     <form action="/entertainment" method="post">
       #foreach( $restaurants in $restaurants )
       <input type="checkbox" name="restaurant_name" value=$restaurants.restaurant_name>
       <label for="restaurant_name"> $restaurants.restaurant_name</label><br>
        <p> $restaurants.restaurant_descr,
        $restaurants.restaurant_star_rating Stars,
        $restaurants.cuisine_tags,
        Destination: $restaurants.destination
       </p>
       #end
       <h3>Activities</h3>
        #foreach( $activities in $activities )
        <input type="checkbox" name="activity_name" value=$activities.activity_name>
        <label for="activity_name"> $activities.activity_name</label><br>
        <p> $activities.activity_descr,
         $activities.activity_tags,
         Destination: $activities.destination
         </p>
         #end
       <button class="btn btn-outline-info" type="submit" value="Submit">Submit</button>
     </form>






  </nav>


</section>


</body>

</html>