<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
     <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Helvetica">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Get Packed</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/login">Log in</a></li>
        </ul>
      </div>
    </nav>

 <style>
        .title-font {
        font-family: 'Helvetica', sans-serif;
        font-size: 48px;
      }

      body {
        background-image: url("https://lh3.googleusercontent.com/RW5FLnRyqc9KOzLiEG2x8AAz7TNnR0PjZCSqXDP7KrPFwz1TRp25-UwMAKE1pb8kvz3DCYGfjW9mTrSwTxS5y_i2RNvmlYfNijLc6YoJmD7B38xrxikrl_7_Fyu6QqKEUgQOccnSsAscRrP8NNknxwRrTZIbZztqT_KBG0HFQX4JlOZ1IWqnVNbErUGkKUJoCJ7rWbIM1i56aAtPvw94SCyD419HVtFjgBfJX02iClLFDM5BDvhids0_h8gimYZjdcatYaYfJze14SAhVtqb1psXMWXtg9v3gzpjz9dkwzhLjaoFd01HK9vXLpNTY2SSIZFbHkX_JC9_UBG0vzgxSy8zLhew7Rxr0d-uxsg2ZswIlCx0dAigK3G96gNtH8qGyJYLKHdczCOJZ_o7AeKlK3yrP6dWcuveAk9F09woCXDIKmbcl0W7e5N0iSCN1BLL6vg9icOAtDEueCakzSe8SCh0EFISMvvAdNXlDCGM8Ec6gskUvEUkE1otzjL3yZuN2T-8FRG6GlXA0NFQoUdAW2_5lOSCiEVneYpHTGBj2pnPu3qz-J5axkSsZv02ECWt6X9z2ED5Ucp-HQX0Axp-1jXDcIKUeQr9C3rLuO36v5WScYcMFVDrQHV-XmVlRNr4lxzAz1PYJVHgOkLusPr4TDIMRFTVfC54WO6nqn-Q6z07CxjCS6rfabYd_GiT=w470-h626-no");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        background-position: center -30px;
        text-align: center;
      }

      h1 {
        text-align: center;
        vertical-align: middle;
      }

       .buttons {
            text-align: center;
        }

        .navbar {
         opacity: 0.6;
        }

    </style>
  </head>


    <body>
    <h1>Get Packed!</h1>
<p>Create an account</p>
<form method="post" action="/">
  <label for="first_name">First name:</label><br>
  <input type="text" id="first_name" name="first_name"><br>
  <label for="last_name">Last name:</label><br>
  <input type="text" id="last_name" name="last_name"><br>
  <label for="username">User name:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="email_address">Email:</label><br>
      <input type="email" id="email_address" name="email_address"><br>
      <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>




  </body>
</html>