<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="topnav">
      <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
      <a href="/login"><i class="fa fa-fw fa-user"></i>Login</a>
      <a href="#contact"><i class="fa fa-fw fa-envelope"></i>Contact</a>
      <a href="#about">About</a>
    </div>


 <style>
        .title-font {
        font-family: 'Helvetica', sans-serif;
        font-size: 48px;
        font-family: 'Baloo Bhaina 2', cursive;
      }

      body, html {
        background-image: url("https://lh3.googleusercontent.com/aCU-00yHNEz-K55RJtxYaaidjgOWL1RcvaLdhrrLMUzMdu6lZPjsYVLkyQzQV5afDSuLgnZeeluJ04mqBYFWr5NoRPYbyK8Y-rOf22IZsUb3bsQboHI0Ouiy_QvyhWxCpNZ3Ci7O6rFO4raOOphtWmCVHBRep1KGlkjRdletOz5g37Sau7i-nj5L38MwW4tgMWC7D63wvJ5VaK7T8cy4tSqPkp4Q4EpS9t3kPOdn9AMAG-ZwzpiqmEer6P3OtbrxgSc8Q85sx878hxLma5F28CDaZygcIPMPXFbfP9eIg4MBw5T0zNBKsHw_skYpFbuHC52RXZ_uvsTtL-Qk4c2SfmuBf6MPKaWEFASnwnVxbNiNFBczQwxR_bcuDUNgim-49A7SFJTaO-yEzZy5-vQplFUbNknAt76IbwBzvF4zf7Vhu6hl5-xO6Xsb1-SUVrOs7pJ8Spb5vQqmyFhfw-9Y9RsNmo5Wy2Nl6KeNhEU4I6ZlqSMLjV2GFWHySOmFF40EXTl1NMdh936nKgmtPhU3IM9lLuN0X2OO0a_QAI-sDww6WpWpHFzeGDTuEDbzNWSmQj5cM_D2lBbFi5lCvORNzNf3gfW6aWHk2a90Pa7NlVp1u4o3oLEuSBF_GauCGbK_SXhS43o_xKjdY2KldRydEY4mHq5dRilnSgqTn687aQ-DU8QzkrZdz9KvAD82=w835-h626-no");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        background-position: center;
        text-align: center;
        font-family: 'Baloo Bhaina 2', cursive;
        align-items: center:
        align: center;
      }

      h1 {
        text-align: center;
        vertical-align: middle;
        font-size: 60px;
      }

      h2 {
        position: fixed;
        top: 170px;
        left: 450px;
        text-align: center;
        vertical-align: middle;
      }


     .topnav {
       overflow: hidden;

     }

     .topnav a {
       float: left;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 17px;
     }

     .topnav a:hover {
       background-color: #dce7fa;
       color: white;
     }

     .topnav a.active {
       background-color: #7ba0db;
       color: white;
     }

        .form-inline {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          position: fixed;
          bottom: 80px;


        }

        .form-inline input {
          vertical-align: middle;
          margin: 5px 10px 5px 0;
          padding: 10px;
          background-color: white;
          border: 1px solid white;
          border-radius: 10px;

        }


        .form-inline button:hover {
          background-color: #71b7e3;
        }

        @media (max-width: 800px) {
          .form-inline input {
            margin: 10px 0;
          }

          .form-inline {
            flex-direction: column;
            align-items: stretch;
          }
        }

    p {
        color: white;
        font-size: 25px;
        position: fixed;
        left: 60px;
        bottom: 150px;
    }

    .fa-instagram {
      background: #125688;
      color: white;
      align: right;
    }

    </style>
  </head>


    <body>
    <h1 style="color:white; border:3px; border-style:solid; border-color:white; padding: 1em;">Get Packed</h1>
    <h2 style="color:white">A schedule to organise your trip</h2>
    <br>
    <br>

    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
         <p>Create an account</p>
        </div>
        <div class="col-sm">
          <form class="form-inline" method="post" action="/">
            <input type="text" id="first_name" name="first_name" placeholder="First name"required> <br>
            <span class="validity"></span><br>
            <input type="text" id="last_name" name="last_name" placeholder="Last name"required> <br>
            <span class="validity"></span><br>
              <input type="text" id="username" name="username" size="30" placeholder="Username: ensure no spaces"required pattern="^\S+$"> <br>
               <span class="validity"></span><br>
                <input type="email" id="email_address" name="email_address" placeholder="Email"required><br>
                <span class="validity"></span><br>
                  <input type="password" id="password" name="password" placeholder="Password"required><br><br>
                  <span class="validity"></span><br>
                   <button class="btn btn-outline-info" type="submit" value="Submit">Submit</button>
                    </form>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>


  </body>
</html>