<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

    <div class="topnav">
      <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
      <a href="/login"><i class="fa fa-fw fa-user"></i>Login</a>
      <a href="#contact"><i class="fa fa-fw fa-envelope"></i>Contact</a>
      <a href="#about">About</a>
    </div>


 <style>


      body, html {
        background-image: url("https://lh3.googleusercontent.com/vv6yj2uOmU2kH8yvwlZqRIazdQiRfJhP0HNGheqbN8lLZD0ooXMYzTOTf_1qRUhsXRNfAuvaDa7B7UQn0QsqDUinAiNfLAOdIUNX4oAn45Lvuk_AR3jAjPsDXf6FY_6PyHYcGcRNbrodvtk33WU44n3Uulm9ONIlt8vZWcB42ZOJcEGSUoISAGlaGs9y_PmEZ8yq8tFX8HZ4gqSrMZ6cqvK3zygzxpOA8iWj84wpXTqK-OE3ceU2KNfTO4RLrXjEyCATWbr5ORmMhMNcP0kY1XXtJh8CD_SrpH5c51Pg0RjQXWrD97tj2fZ5I1XnQz9tUICXMZouIBQhyqmDDAcnSx-_O3hAo7-7zfIb1yC0Bj0eFiaW3TUisYjKi-zauFEV00R0j2yKhi3X_xZ8YdbEzytBl5wpID9HWabdXsobC4p1qVBbm2rkkqpbyg_SHYsy6bZ5uxgztrZnvn3x7OomeA6NW6MCjYuM1W3S3ckiD2FM5XeBifj9BT0IxoQ1Uz6oIYBB09WN8RyhfWnyn_rZ7QZ0YiJM5lbVuLuZVVKXEOOHgDo1dwOFf9mHZIapniQTr7RY7orp372eeD9vX8T5cjRsL8MEtUTM6qtbuRGQmy49S1rcfPtz14ArhCGN9hunqjZF8TL_gLA8uTArNnUAEfNokzVuhrRKLLl_6bFJVdTKc3XAfMl1L_mQDalM=w835-h626-no");
        background-color: #b9d0ed;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        background-position: center;
        text-align: center;
        font-family: 'Baloo Bhaina 2', cursive;
        align-items: center:
        align: center;
      }

      h1 {
        text-align: center;
        vertical-align: middle;
        font-size: 80px;
        font-weight: bold;
        font-family: 'Dancing Script', cursive;

      }

      h2 {
        position: fixed;
        top: 150px;
        left: 450px;
        text-align: center;
        vertical-align: middle;
      }


     .topnav {
       overflow: hidden;

     }

     .topnav a {
       float: left;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 17px;
     }

     .topnav a:hover {
       background-color: #dce7fa;
       color: white;
     }

     .topnav a.active {
       background-color: #7ba0db;
       color: white;
     }

        .form-inline {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          position: fixed;
          bottom: 80px;


        }

        .form-inline input {
          vertical-align: middle;
          margin: 5px 10px 5px 0;
          padding: 10px;
          background-color: white;
          border: 1px solid white;
          border-radius: 10px;

        }


        .form-inline button:hover {
          background-color: #71b7e3;
        }

        @media (max-width: 800px) {
          .form-inline input {
            margin: 10px 0;
          }

          .form-inline {
            flex-direction: column;
            align-items: stretch;
          }
        }

    p {
        color: white;
        font-size: 25px;
        position: fixed;
        left: 60px;
        bottom: 150px;
    }

    .fa-instagram {
      background: #125688;
      color: white;
      align: right;
    }

    </style>
  </head>


    <body>
    <h1 style="color:white;">Get Packed</h1>
    <h2 style="color:white">A schedule to organise your trip</h2>
    <br>
    <br>

    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
         <p>Create an account</p>
        </div>
        <div class="col-sm">
          <form class="form-inline" method="post" action="/">
            <input type="text" id="first_name" name="first_name" placeholder="First name"required> <br>
            <span class="validity"></span><br>
            <input type="text" id="last_name" name="last_name" placeholder="Last name"required> <br>
            <span class="validity"></span><br>
              <input type="text" id="username" name="username" size="30" placeholder="Username: ensure no spaces" required pattern="^\S+$"> <br>
               <span class="validity"></span><br>
                <input type="email" id="email_address" name="email_address" placeholder="Email"required><br>
                <span class="validity"></span><br>
                  <input type="password" id="password" name="password" placeholder="Password"required><br><br>
                  <span class="validity"></span><br>
                   <button class="btn btn-outline-info" type="submit" value="Submit">Submit</button>
                    </form>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>


  </body>
</html>