<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

    <div class="topnav">
         <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
         <a href="/login"><i class="fa fa-fw fa-user"></i>Login</a>
         <a href="#contact"><i class="fa fa-fw fa-envelope"></i>Contact</a>
         <a href="#about">About</a>
       </div>

 <style>

  body, html {
         text-align: center;
         font-family: 'Baloo Bhaina 2', cursive;
         align-items: center:
         align: center;
         background-color: #b9d0ed;
     }

    header {
       background-image: url("https://lh3.googleusercontent.com/vv6yj2uOmU2kH8yvwlZqRIazdQiRfJhP0HNGheqbN8lLZD0ooXMYzTOTf_1qRUhsXRNfAuvaDa7B7UQn0QsqDUinAiNfLAOdIUNX4oAn45Lvuk_AR3jAjPsDXf6FY_6PyHYcGcRNbrodvtk33WU44n3Uulm9ONIlt8vZWcB42ZOJcEGSUoISAGlaGs9y_PmEZ8yq8tFX8HZ4gqSrMZ6cqvK3zygzxpOA8iWj84wpXTqK-OE3ceU2KNfTO4RLrXjEyCATWbr5ORmMhMNcP0kY1XXtJh8CD_SrpH5c51Pg0RjQXWrD97tj2fZ5I1XnQz9tUICXMZouIBQhyqmDDAcnSx-_O3hAo7-7zfIb1yC0Bj0eFiaW3TUisYjKi-zauFEV00R0j2yKhi3X_xZ8YdbEzytBl5wpID9HWabdXsobC4p1qVBbm2rkkqpbyg_SHYsy6bZ5uxgztrZnvn3x7OomeA6NW6MCjYuM1W3S3ckiD2FM5XeBifj9BT0IxoQ1Uz6oIYBB09WN8RyhfWnyn_rZ7QZ0YiJM5lbVuLuZVVKXEOOHgDo1dwOFf9mHZIapniQTr7RY7orp372eeD9vX8T5cjRsL8MEtUTM6qtbuRGQmy49S1rcfPtz14ArhCGN9hunqjZF8TL_gLA8uTArNnUAEfNokzVuhrRKLLl_6bFJVdTKc3XAfMl1L_mQDalM=w835-h626-no");

    }

    .topnav {
        overflow: hidden;

      }

      .topnav a {
        float: left;
        color: #7ba0db;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #dce7fa;
        color: white;
      }

      .topnav a.active {
        background-color: #7ba0db;
        color: white;
      }

    .form-horizontal {
        font-family: Baloo Bhaina 2', cursive;
        border-style: solid;
        border-width: medium;
        border-color: #b9dded;
        border-radius: 5px;
        padding: 20px;
        background-color: #7ba0db;
        height: 375px;
        width: 300px;
        position: fixed;
        top: 150px;
        left: 500px;
        flex-direction: column;
        align-items: stretch;
        display: flex;

    }

    .form-horizontal input {
         vertical-align: middle;
          margin: 5px 5px 5px 0;
          padding: 10px;
          background-color: white;
          border: 1px solid white;
          border-radius: 5px;
    }

    .form-horizontal label {
        font-size: 25px;
        color: white;
    }

    p {
        text-align: center;
        vertical-align: middle;
        font-size: 35px;
        font-weight: italic;
        color: white;
    }



    .btn:hover {
              background-color: #71b7e3;
            }

    .btn {
        height: 50px;
        font-size: 15px
    }
    </style>
  </head>


    <body>
    <header></header>
    <h1></h1>
<p>Login below with your account details</p>

<form class="form-horizontal" method="post" action="/login">
  <label for="username">User name:</label>
    <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
       <button class="btn btn-outline-info" type="submit" value="Submit">Submit</button>
</form>




  </body>
</html>