<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    <style>

    body {
        text-align: center
    }
    </style>
  </head>


  <body>
    <h1>Go on a new trip!</h1>

    <form action="/pickhotel">
      <label for="nametrip">Name your trip!</label><br>
      <input type="text" id="nametrip" name="nametrip"><br>
       <label for="destination">Pick a destination!</label>
        <select id="destination" name="destination">
          <option value="NewYork">NewYork</option>
          <option value="Mexico">Mexico</option>
          <option value="Algarve">Algarve</option>
          <option value="Florence">Florence</option>
        </select>
        <br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>