<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    <style>

    body {
        background: linear-gradient(to right,#f7c981,#ed7210,#d4970e);
        text-align: center
    }
    </style>
  </head>


  <body>
    <h1>Go on a new trip!</h1>

    <form method="post" action="/newtrip">
      <label for="trip_name">Name your trip!</label><br>
      <input type="text" id="trip_name_1" name="trip_name_1" required pattern="^\S+$"><br>
       <label for="destination">Pick a destination!</label>
        <select id="destination" name="destination">
          <option value="Cancun">Cancun</option>
          <option value="Chicago">Chicago</option>
          <option value="LasVegas">Las Vegas</option>
          <option value="Macau">Macau</option>
          <option value="Malaga">Malaga</option>
          <option value="Moscow">Moscow</option>
          <option value="NYC">NYC</option>
          <option value="Orlando">Orlando</option>
          <option value="Sydney">Sydney</option>
          <option value="Tokyo">Tokyo</option>
        </select>
        <br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>