<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    <style>

    body {
        background: linear-gradient(to right,#f7c981,#ed7210,#d4970e);
    }
    


    </style>
  </head>
  <body>
    <h1>Pick your Hotel & room choice. Select occupancy and dates!</h1>


      <table class="table table-hover">

        <tbody>
          #foreach( $hotel in $hotel )
          <tr>
            <th scope="row">
            Hotel name: $hotel.hotel_name,
            Description: $hotel.hotel_descr,
            Room type: $hotel.room_name,
            Room occupancy: $hotel.room_occupancy_limit,
            Room Price Pp/Pn: $hotel.price_pppn,
            Star Rating: $hotel.hotel_star_rating,
            Destination: $hotel.destination,
            <form method="post" action="/pickhotel">
            <button type="submit" name="hotel_name" value=$hotel.hotel_name class="btn btn-primary" >Approve</button>
           #end
           </form>
        </tbody>
      </table>


  </body>
</html>
