<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
   <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">


<div class="topnav">
<a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
<a href="/dashboard"><i class="fa fa-fw fa-user"></i>Dashboard</a>
<a href="#contact"><i class="fa fa-fw fa-envelope"></i>Contact</a>
<a href="#about">About</a>
</div>


    <style>
    .topnav {
        overflow: hidden;

      }

      .topnav a {
        float: left;
        color: #7ba0db;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #dce7fa;
        color: white;
      }

      .topnav a.active {
        background-color: #7ba0db;
        color: white;
      }

     body {
      background-color: #b9d0ed;
      text-align: center;
      font-family: 'Baloo Bhaina 2', cursive;
      align-items: center:
      align: center;
        }
    


    </style>
  </head>
  <body>
    <h1>Pick your Hotel & room choice. Select occupancy and dates!</h1>


      <table class="table table-hover">

        <tbody>
          #foreach( $hotel in $hotel )
          <tr>
            <th scope="row">
            Hotel name: $hotel.hotel_name,
            Description: $hotel.hotel_descr,
            Room type: $hotel.room_name,
            Room occupancy: $hotel.room_occupancy_limit,
            Room Price Pp/Pn: $hotel.price_pppn,
            Star Rating: $hotel.hotel_star_rating,
            Destination: $hotel.destination,
            <form method="post" action="/pickhotel">
            <button type="submit" name="hotel_name" value=$hotel.hotel_name class="btn btn-primary" >Approve</button>
           #end
           </form>
        </tbody>
      </table>


  </body>
</html>
