
<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>

 <article>
<h1>Schedule for
    #foreach( $schedules in $schedules )
        #if( $foreach.count > 1 )
            #break
        #end
     $schedules.trip_name
    #end
</h1>

    #foreach( $schedules in $schedules )
    <p>Restaurant</p>
    <li>$!schedules.restaurant_name </li>
    <p>Activity</p>
    <li>$!schedules.activity_name </li>
     #end
  </article>

  </body>
</html>