<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Pick some activities and your restaurants! </h1>

     <table class="table table-hover">

            <tbody>
              #foreach( $restaurants in $restaurants )
              <tr>
                <th scope="row">
                 Restaurant name:$restaurants.restaurant_name,
                 Restaurant Description: $restaurants.restaurant_descr,
                 Star Rating: $restaurants.restaurant_star_rating,
                 Destination: $restaurants.destination,
                 $restaurants.cuisine_tags,
               #end
            </tbody>
          </table>


  </body>
</html>