<!DOCTYPE html>
<html>
  <head>
    <title>GetPacked!</title>
   <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

 <div class="topnav">
 <a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
 <a href="/dashboard"><i class="fa fa-fw fa-user"></i>Dashboard</a>
 <a href="#contact"><i class="fa fa-fw fa-envelope"></i>Contact</a>
 <a href="#about">About</a>
 </div>
    </head>

 <style>
     .topnav {
         overflow: hidden;

       }

       .topnav a {
         float: left;
         color: #7ba0db;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: 17px;
       }

       .topnav a:hover {
         background-color: #dce7fa;
         color: white;
       }

       .topnav a.active {
         background-color: #7ba0db;
         color: white;
       }


   body {
      background-color: #b9d0ed;
      text-align: center;
      font-family: 'Baloo Bhaina 2', cursive;
      align-items: center:
      align: center;
        }


table {
        font-family: 'Baloo Bhaina 2', cursive;
        border-collapse: collapse;
        width: 100%;
      }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

 </style>

   <body>
     <h1>Your trips!</h1>

<table class="table table-hover">
          #foreach( $trips in $trips )
          <tr>
            <th> Trip name: $trips.trip_name</th>
            <th> Destination: $trips.destination</th>
            <th> Hotel name: $trips.hotel_name</th>

            <th> <form method="get" action="/schedule">
            <button type="submit" name="trip_name" value=$trips.trip_name class="btn btn-primary" >View</button>
           #end
           </form> </th>
         </tr>

      </table>

  </body>
</html>